body { background-color: #f9e6d3; text-align: center; font-family: Arial, sans-serif; }
 h2 { color: #663300; margin-top: 20px; } 
 form { margin: 30px auto; width: 300px; background-color: #fff3e0; padding: 20px; border-radius: 10px; } 
 label { display: block; margin-top: 10px; font-size: 18px; }
  input[type="text"], input[type="password"], input[type="email"] 
  { width: 90%; padding: 8px; margin-top: 5px; margin-bottom: 15px; border-radius: 5px; border: 1px solid #ccc; } 
  button { background-color: #cc9966; color: white; padding: 10px 20px; border: none; border-radius: 8px; font-size: 16px; cursor: pointer; } 
  button:hover { background-color: #b37700; } 
  p { margin-top: 20px; font-size: 18px; color: #663300; }
   img { margin-top: 30px; border-radius: 15px;